body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.nas-blue{
  color: #2eaef0;
}

.hover-highlight:hover{
  background-color: #f7bb7b;
  color: #ffffff;
  text-decoration: none;
}

.hover-highlight{
  color:#878787;
  background: #fafafa
}

.nice-orange {
  background-color: #da872f;
}

.site-header .navbar-nav .nav-link {
  color: #edf7f6;
}

.site-header .navbar-nav .nav-link:hover {
  color: #683f12;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.form-label {
  font-size: 2.5rem;
}

.add-task {
  overflow: hidden;
  position: relative;
  margin: 14px 0;
  padding: 0 12px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.add-task-input {
  color: #fff;
  font-size: 16px;
  padding: 13px 60px 14px 0;
}


.taskItem {
  height: 47px;
  list-style: none;
}

.task-submit {
  padding-top: 5px;
  border-radius: 3px;
}

div.right {
  position: absolute;
  right:0;
}

.strike-through {
  text-decoration: line-through;
}
