{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <h1>This is the Planner </h1>
</div>
<!-- Event mini-form -->
<div class="content-section">
    <form method='POST' action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                Add a new event:
                {{ form.title(class="form-control form-control-lg") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>

</div>
<form method='POST'>
    <button name="submit" class="btn btn-outline-info" value="clear">Clear</button>
</form>
<!-- In Progress Events -->
<div class="list-group">
    {% for event in progress_events %}
        <div class="form-check form-check-inline">
            <a href="{{url_for('edit_event', event_id=event.id)}}" class="list-group-item list-group-item-action"><input id="{{event.id}}" class="form-check-input" type="checkbox" value="">{{event.title}} </a>
        </div>
    {% endfor %}
</div><br><br>

<button id="show-completed" class="btn btn-secondary">Show Completed</button><br><br>
<!-- Completed Events -->
<div id="completed" class="list-group">
    {% for event in completed_events %}
        <div class="form-check form-check-inline">
            <a href="#" class="list-group-item list-group-item disabled"><input class="form-check-input" type="checkbox" id="checked-box" checked disabled>{{event.title}}</a>
        </div>
    {% endfor %}
</div>

<br>
<div id="ajaxExample"></div>

<script>
    $(document).ready(function(){
        $('#completed').hide();

        $('.form-check-input').click(function(e){

            var event_id = {
                id: e.currentTarget.id
            };
            //alert(event_id.id);
            $.ajax({
                data: JSON.stringify(event_id), //holy moly have to stringify and JSON
                url : "/complete_event",
                type : 'POST',
                contentType: "application/json; charset=utf-8", // this
                dataType: "json",
            })
            .done(function(thing){
                $('#completed').append(thing.event)
                //alert(thing.id);
            });

        });


        $('.form-check-input').click(function(){
            $(this).parent().parent().hide();
            //$(this).show();
        });

        $('#show-completed').click(function(){
            $('#completed').toggle();
        });

        $('#checked-box').disabled = true;
    });
</script>

{% endblock %}
